@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .text-balance {
    -webkit-text-wrap: balance;
  }
  .text-stroke {
    -webkit-text-stroke-width: 4px;
  }
  .text-stroke-none {
    -webkit-text-stroke-width: 0px;
  }
  @keyframes fadeInBottom {
    0%,
    60% {
      opacity: 0;
      transform: translateY(200%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes fadeInTop {
    0%,
    60% {
      opacity: 0;
      transform: translateY(-200%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in-top {
    animation: fadeInTop 3s ease-in-out;
  }
  .fade-in-bottom {
    animation: fadeInBottom 3s ease-in-out;
  }
}
